/*
	This file handles the styling and format of the to-do list website.
*/

#main {
	text-align: center;
	color: black;
	font-family: "Lucida Console", monospace;
	font-size: 15pt;
}

body {
	margin: 0pt;
	padding: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
}

.headfoot {
	background-color: #005AB4;
	color: white;
	padding: 0.5em;
}

#head h1 img {
	padding-right: 0.5em;
}

h1 {
	margin-top: 0pt;
}

#error {
	color: red;
	font-size: 2em;
}